<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,
  initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="static/stylesheets/style.css"
    />
    <title>Categories</title>
  </head>
  <body>
    <h1 id="category">Category</h1>

    <a href="./questionsRandom.ejs" id="random" class="btn-categories"
      >General Knowledge</a
    >
    <a href="./questionsGeography.ejs" id="geography" class="btn-categories"
      >Geography</a
    >
    <a href="./questionsHistory.ejs" id="history" class="btn-categories"
      >History</a
    >
    <!-- <a href="./questions.ejs" id="politics" class="btn-categories">Politics</a> -->

    <!-- <button id="geography" class="btn-categories">Geography</button>
    <button id="history" class="btn-categories">History</button> -->
    <a href="./questionsPolitics.ejs" id="politics" class="btn-categories">
      Computer Science
    </a>

    <script src="static/scripts/index.js"></script>
    <!-- <script src="static/scripts/questions.js"></script> -->
  </body>
</html>
